@import url("/styles/font/fontface.css");
* {
	color:#000000;
}
body {
	background:rgb(185,185,185);
}
#logo {
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-box-shadow: 0px -4px 0px #d94f00;
	-moz-box-shadow: 0px -4px 0px #d94f00;
	box-shadow: 0px -4px 0px #d94f00;
}
#logo:hover {
	background:#d94f00;
}
#logo:hover * {
	color:#FFFFFF;
}
#logo> h1 {
	margin-top:10px;
	font: 60px/68px 'AmerikaRegular', Arial, sans-serif;
	text-align:center;
}
#impression {
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-box-shadow: 0px -4px 0px #ffbb6e;
	-moz-box-shadow: 0px -4px 0px #ffbb6e;
	box-shadow: 0px -4px 0px #ffbb6e;
}
#impression:hover {
	background:#ffbb6e;
	color:#FFFFFF;
}
#impression:hover * {
	color:#FFFFFF;
}
#preface {
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-box-shadow: 0px 4px 0px #222526;
	-moz-box-shadow: 0px 4px 0px #222526;
	box-shadow: 0px 4px 0px #222526;
}
#preface:hover {
	background:#222526;
}
#preface:hover * {
	color:#FFFFFF;
}
#catalog {
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-box-shadow: 0px 4px 0px #7f203b;
	-moz-box-shadow: 0px 4px 0px #7f203b;
	box-shadow: 0px 4px 0px #7f203b;
}
#catalog:hover {
	background:#7f203b;
}
#catalog:hover * {
	color:#FFFFFF;
}
section {
	background:rgb(225,225,225);
	margin:4px;
	/*overflow: hidden;*/
}
section *, nav, ol, li, p, h1 {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
}
#preface h1, h2, h3, time {
	text-align: center;
}
#preface p {
	/*width:80%;*/
	margin-left:auto;
	margin-right:auto;
}
#catalog ol {
	-moz-column-count: 3;
	-webkit-column-count: 2;
	column-count: 2;
	/*width: 80%;*/
	margin-left:auto;
	margin-right:auto;
}
nav header h2 {
	text-align:center;
}
